<% provide(:title, "Contact")%>
<h1>Contact</h1>
<p>
    Contact the Ruby on Rails Tutorial about the sample app at the <a href="https://sample-ruby-app-9ie7.onrender.com/static_pages/contact">contact page</a>
</p>
